# Dependencias - No subir las librerías descargadas, se instalan solas.
node_modules/

# Carpeta de Salida - No subir los archivos generados, Netlify los crea.
public/

# Secretos y Archivos de Entorno - ¡CRÍTICO PARA LA SEGURIDAD!
.env
google-credentials.json

# Archivos temporales de prueba
test.js